{% extends 'base.html.twig' %}

{% block body %}
    <div class="row col-md-6 mx-auto">
        {{ form_start(form, {'action' : path('task_create')}) }}
        <div class="mb-3">
            {{ form_row(form.title) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.content) }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-dark mt-3">Retour à la liste des tâches</a>
    </div>
{% endblock %}
